@font-face {
    font-family: maison;
    src: url('./MaisonNeue-ExtendedBook.ttf');
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

}

h1 {
    font-weight: 600;
}

p, span, div, li, button {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 35px;
    color: #333;
}
button {
    font-family: maison;
    font-weight: 400;
    border-radius: 40px;
    font-size: 16px;
    padding: 10px, 8px 8px 10px;
    min-width: 150px;
    min-height: 50px;
}

.default-btn {
    background-color: #333;
    color: white;

}

:root {
    font-family: maison, sans-serif;


    
}


.heading {
    padding-bottom: 10px;
    border-bottom: 1px solid #666;
    margin-bottom: 25px;
    font-size: 24px;
}

input, label,  form{
    font-family: maison;
}