/* Hero Section */
.hero-container {
    width: 100%;
    height: 700px;
    margin-top: 150px;
}

.hero-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 200px;
    width: 75vw;
    height: 100%;
    margin: auto;
}

.hero-grid-item img {
    width: 600px;
    height: auto;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hero-content h1 {
    padding-bottom: 10px;
    border-bottom: 1px solid #666;
}

.hero-container p {
    padding: 20px;
}

/* Team Section */
.team-container {
    width: 100%;
    padding: 50px 0;
}

.team-content h1 {
    padding-bottom: 10px;
    border-bottom: 1px solid #666;
    margin-bottom: 25px;
}

.team-wrapper {
    width: 75vw;
    margin: auto;
}

.team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.team-item {
    width: 100%;
    border-radius: 20px;
    border: 1px solid #333;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: box-shadow 0.3s ease;
}

.team-item:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.team-item-container {
    width: 90%;
    margin: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.team-member-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.team-member-container img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.team-member-name {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.team-member-description {
    margin-top: 10px;
    color: #666;
}

/* Hiring Section */
.hiring-container {
    width: 100%;
    padding: 50px 0;
}

.hiring-wrapper {
    width: 75vw;
    margin: auto;
}

.accordion-container {
    margin-top: 10px;
    width: 70%;
    margin: auto;
    font-family: Arial, sans-serif;
}

.accordion-item {
    border: 1px solid #ddd;
    margin: 5px 0;
    border-radius: 5px;
    overflow: hidden;
}

.accordion-header {
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease; /* Add transition on max-height */
    padding: 0 15px; /* Start with no padding */
}

.accordion-content p {
    padding: 15px 0;
    margin: 0;
}

.accordion-item.active .accordion-content {
    max-height: 500px; /* Set a max-height that’s enough for content */
    padding: 15px; /* Add padding when active */
}
.accordion-icon {
    font-size: 18px;
    transition: transform 0.3s ease;
}

.accordion-item.active .accordion-icon {
    transform: rotate(180deg);
}

/* Form Section */
.form-container {
    
    width: 100vw;
    padding: 50px 0;
}

.form-wrapper {
    width: 70vw;
    margin: auto;
    margin-top: 50px;
}

.form {
    width: 60%;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
}

.form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.form input, .form textarea, .form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.vle-container {
    width: 75vw;
    height: auto;
    margin: auto;
}

.box-wrapper {
    display: flex;
    flex-wrap: wrap; 
    gap: 6px;
}

.box-item {
    flex: 330px; 
    height: 300px;
    padding: 4px;
    border: solid 1px #666;
    border-radius: 10px;
    padding: 10px;
}
.box-content {
    width: 100%;
}

.box-content p {
    line-height: 26px;
    font-size: 16px;
}

.box-content a {
    color: #333;
    text-decoration: none;
}

.box-content a:hover {
    color: #333;
    text-decoration: underline;
}